# Aviation Dataset Analysis: Identifying Low-Risk Aircraft

### BUSINESS PROBLEM

As part of the company's efforts to diversify its portfolio, a new aviation division has been established to explore opportunities in the aircraft industry. To support the strategic decision-making process, the company requires insights into potential risks associated with various aircraft models for both commercial and private operations.

## Objectives

- Analyze safety records to determine potential risks on the aircrafts
- Identify the aircrafts with the lowest risks based on safety records and reliability.
- Provide actionable recommendations to guide aircraft purchases that aligns wit the company's goals while minimizing risk exposure.

### Dataset Overview

- **Souce**: Kaggle
- **About this file**:
  - The NTSB aviation accident database contains information from 1962 and later about civil aviation accidents and selected incidents within the United States, its territories and possessions, and in international waters

#### Aviation Dataset Column Descriptions

| Column Name             | Description |
|-------------------------|-------------|
| **Make**               | The manufacturer of the aircraft. |
| **Model**              | The specific model of the aircraft. |
| **Amateur.Built**        | Indicates if the aircraft was homebuilt by an individual rather than a  manufacturer. ("Yes" for amateur-built, "No" otherwise). |
| **Airport Name**       | The name of the airport where the incident occurred. |
| **Location**           | The city or area where the incident happened. |
| **Country**            | The country where the incident took place. |
| **Total.Fatal.Injuries** | The number of fatal injuries reported in the incident. |
| **Total.Serious.Injuries** | The number of serious injuries reported in the incident. |
| **Total.Minor.Injuries** | The number of minor injuries reported in the incident. |
| **Total.Uninjured**    | The number of people involved in the incident who were uninjured. |
| **Aircraft.Damage**    | The extent of damage to the aircraft (e.g., destroyed, substantial, minor). |
| **Aircraft.Category**  | The category of the aircraft involved (e.g., airplane, helicopter). |
| **Number.of.Engines**  | The number of engines the aircraft has. |
| **Engine.Type**        | The type of engine used (e.g., reciprocating, turbojet). |
| **FAR.Description**    | Federal Aviation Regulations category under which the aircraft was operating. |
| **Schedule**          | Whether the flight was scheduled or unscheduled. |
| **Air.Carrier**       | The airline or air carrier operating the flight. |
| **Broad.Phase.of.Flight** | The general phase of the flight when the incident occurred (e.g., takeoff, landing). |
| **Weather.Conditions** | The weather conditions at the time of the incident (e.g., VMC - Visual Meteorological Conditions, IMC - Instrument Meteorological Conditions). |

### Importing Libraries

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [56]:
df = pd.read_csv("AviationData.csv", encoding = "windows-1252", low_memory = False)

### Data Exploration

In [57]:
df.head() #Views first 5 rows

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [58]:
df.info() #Gives Data Summary(Memory usage, columns, Datatypes, Entries)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [59]:
df.describe() #Summary statistics for numerical columns

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [60]:
df.columns = df.columns.str.strip() #To remove whitespaces

In [61]:
df['Investigation.Type'].unique() #Checking unique values before dropping the columns

array(['Accident', 'Incident'], dtype=object)

### Irelevant Columns

In [62]:
#Removes :"Event.Id", "Investigation.Type", "Accident.Number", "Airport.Code", "Registration.Number", "Publication.Date",'Latitude', 'Longitude'
#They are not relevant in this Analysis
df_relevant = df.drop(columns = ["Event.Id", "Investigation.Type", "Accident.Number", "Airport.Code", "Registration.Number", "Publication.Date",'Latitude', 'Longitude',], errors='ignore')
df_relevant.columns

Index(['Event.Date', 'Location', 'Country', 'Airport.Name', 'Injury.Severity',
       'Aircraft.damage', 'Aircraft.Category', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status'],
      dtype='object')

In [63]:
df_relevant.isnull().sum() #Checks for null values for the relevant data

Event.Date                    0
Location                     52
Country                     226
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
dtype: int64

## DATA CLEANING

## Handling Missing Data

In [64]:
df_relevant['Location'].fillna("Unknown", inplace = True) #Replaced NaN with unknown to remove the null

#### Location

In [65]:
df_relevant['Location'] = df_relevant['Location'].str.strip().str.title()  # Fix spaces & capitalization
df_relevant['Country'] = df_relevant['Country'].str.strip().str.title()

In [66]:
df_relevant.isnull().sum() #Counts the sum of missing values in all columns

Event.Date                    0
Location                      0
Country                     226
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
dtype: int64

#### Country

In [149]:
print(df_relevant['Country'].isnull().sum())  # Count missing values

0

In [68]:
df_relevant['Country'].fillna(df_relevant['Location'], inplace = True) #Replaces the NaN values in the Country with coresponding values in the location
df_relevant['Country'].isnull

<bound method Series.isnull of 0        United States
1        United States
2        United States
3        United States
4        United States
             ...
88884    United States
88885    United States
88886    United States
88887    United States
88888    United States
Name: Country, Length: 88889, dtype: object>

#### Airport.Name

In [69]:
df_relevant['Airport.Name'].fillna('PRIVATE', inplace = True) #Replaces null values in Airport.Name to PRIVATE which is the mode value

In [150]:
#Replaces all unknown and repetitive values to one vale "PRIVATE AIRSTRIP"
top_5_airports = df_relevant["Airport.Name"].value_counts().head()
df_relevant["Airport.Name"] = df_relevant["Airport.Name"].replace("PRIVATE", "PRIVATE AIRSTRIP")
df_relevant["Airport.Name"] = df_relevant["Airport.Name"].replace("Private Airstrip", "PRIVATE AIRSTRIP")
df_relevant["Airport.Name"] = df_relevant["Airport.Name"].replace("NONE", "PRIVATE AIRSTRIP")
df_relevant["Airport.Name"] = df_relevant["Airport.Name"].replace("PRIVATE STRIP", "PRIVATE AIRSTRIP")
df_relevant["Airport.Name"] = df_relevant["Airport.Name"].replace("None", "PRIVATE AIRSTRIP")
df_relevant["Airport.Name"] = df_relevant["Airport.Name"].replace("UNKNOWN", "PRIVATE AIRSTRIP")
df_relevant["Airport.Name"] = df_relevant["Airport.Name"].replace("Private Strip", "PRIVATE AIRSTRIP")
df_relevant["Airport.Name"] = df_relevant["Airport.Name"].replace("Private", "PRIVATE AIRSTRIP")
top_5_airports

PRIVATE AIRSTRIP    37249
MERRILL FIELD          83
VAN NUYS               81
MUNICIPAL              78
CENTENNIAL             75
Name: Airport.Name, dtype: int64

#### Injury.Severity

In [71]:
#Dropped 'Injury.Severity' because we have total fatal,serious,unserious,minor and uninjured columns we can work with
df_relevant.drop(columns = ['Injury.Severity'], inplace = True)

In [72]:
#Replaces the null values and the unknow with substantial which is the mode value
df_relevant['Aircraft.damage'].fillna('Substantial', inplace = True)
df_relevant['Aircraft.damage'].replace('Unknown', 'Substantial', inplace = True)
df_relevant['Aircraft.damage'].value_counts().head()

Substantial    67461
Destroyed      18623
Minor           2805
Name: Aircraft.damage, dtype: int64

#### Aircraft.Category

In [73]:
#The company is specifically interested with airplanes so we just need drop the aircraft category column
df_relevant.drop(columns = ['Aircraft.Category'], inplace = True)

#### Amateur.Built

In [74]:
#Replaced null values  with 'No' which is the mode value
df_relevant['Amateur.Built'].fillna('No', inplace = True)
df_relevant['Amateur.Built'].value_counts().head()

No     80414
Yes     8475
Name: Amateur.Built, dtype: int64

#### Make

In [75]:
df_relevant['Make'].value_counts().head()
# Replaced some of the null values with unknown ameteurs 
df_relevant.loc[df_relevant["Amateur.Built"] == "Yes", "Make"] = "Unknown Amateur-Built"
#Replaced 'CESSNA', With 'Cessna' to avoid repetion
df_relevant['Make'].replace('CESSNA', 'Cessna', inplace = True)
#Replaced the remaining null values to uknown 
df_relevant['Make'].fillna('Unknown', inplace = True)

df_relevant['Make'].value_counts().head()

Cessna                   27065
Piper                    11987
Unknown Amateur-Built     8475
Beech                     4314
PIPER                     2839
Name: Make, dtype: int64

#### Model

In [76]:
#Some of t`he models that had unknown makes are assigned to uknown makes
df_relevant.loc[df_relevant["Make"] == "Unknown", ["Unknown Amateur-Built", "Model"]] = "Unknown Make"
#The rest null values has been assigned to uknown
df_relevant['Model'].fillna('Unknown', inplace = True)
df_relevant['Model'].value_counts().head()

152          2367
172          1756
172N         1164
PA-28-140     932
150           829
Name: Model, dtype: int64

#### Number.of.Engines

In [77]:
df_relevant['Number.of.Engines'].value_counts()

1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: Number.of.Engines, dtype: int64

In [78]:
#Replaced the null value with 0 and converted averything into numeric datatype

df_relevant["Number.of.Engines"] = pd.to_numeric(df_relevant["Number.of.Engines"], errors="coerce")
df_relevant['Number.of.Engines'].fillna(0, inplace = True)
df_relevant["Number.of.Engines"].sum()

94943.0

#### Engine.Type

In [103]:
#It check for the rows with 0(Unknown) number of engines, then replaces the with uknown types
df_relevant.loc[df_relevant["Number.of.Engines"] == 0, "Engine.Type"] = "Unknown Engine Type"
#It replaces Uknown and none types with unkown engine types

df_relevant['Engine.Type'].replace('Unknown', 'Unknown Engine Type', inplace = True)
df_relevant['Engine.Type'].replace('None', 'Unknown Engine Type', inplace = True)
df_relevant['Engine.Type'].replace('UNK', 'Unknown Engine Type', inplace = True)
#The remaining null value are also replaced with 'Unknown Engine Type'
df_relevant['Engine.Type'].fillna('Unknown Engine Type', inplace = True)
df_relevant['Engine.Type'].value_counts()

Reciprocating          69004
Unknown Engine Type     9908
Turbo Shaft             3530
Turbo Prop              3324
Turbo Fan               2378
Turbo Jet                695
Geared Turbofan           11
Electric                   8
LR                         2
Hybrid Rocket              1
Name: Engine.Type, dtype: int64

#### FAR.Description

In [151]:
#We want the part 91 and 121 which are private and commercial use only and set the null to unknown 
far_replacements = {
    '091': 'Part 91',
    'Part 91: General Aviation': 'Part 91',
    '091K': 'Part 91',
    'Part 91F': 'Part 91',
    'Part 91 Subpart K: Fractional091': 'Part 91',
    '121': 'Part 121',
    'Non-U.S., Commercial': 'Part 121',
    'Part 121: Air Carrier': 'Part 121'
}

df_relevant['FAR.Description'].replace(far_replacements, inplace=True)

df_relevant['FAR.Description'].fillna('Unknown', inplace = True)

df_relevant['FAR.Description'].value_counts().head()

Unknown    56865
Part 91    24717
NUSN        1584
NUSC        1012
137         1010
Name: FAR.Description, dtype: int64

#### Schedule

In [128]:
#We categorize the null values as uknown
df_relevant['Schedule'].fillna('Unknown', inplace = True)
df_relevant['Schedule'].replace('UNK', 'Unknown', inplace = True)
df_relevant['Schedule'].value_counts()

Unknown    80383
NSCH        4471
SCHD        4007
Name: Schedule, dtype: int64

#### Purpose.of.flight

In [152]:
#Replaced the null values with unknown
df_relevant['Purpose.of.flight'].fillna('Unknown', inplace =True)
df_relevant['Purpose.of.flight'].value_counts().head()

Personal              49442
Unknown               12983
Instructional         10598
Aerial Application     4711
Business               4017
Name: Purpose.of.flight, dtype: int64

#### Air.carrier

In [153]:
#Pilot part represent a pilot operating privately without a registred airline
#Replaced the null value with unknow
df_relevant['Air.carrier'].fillna('Unknown', inplace = True)
df_relevant['Air.carrier'].value_counts().head()

Unknown              72231
Pilot                  258
American Airlines       90
United Airlines         89
Delta Air Lines         53
Name: Air.carrier, dtype: int64

#### Total.Fatal.Injuries

In [154]:
#Assumed the null values means there are no fatalities
df_relevant['Total.Fatal.Injuries'].fillna(0.0, inplace = True)
df_relevant['Total.Fatal.Injuries'].value_counts().head()

0.0    71057
1.0     8881
2.0     5168
3.0     1589
4.0     1101
Name: Total.Fatal.Injuries, dtype: int64

#### Total.Serious.Injuries

In [155]:
#Assigns null values to 0.0
df_relevant['Total.Serious.Injuries'].fillna(0.0, inplace = True)
df_relevant['Total.Serious.Injuries'].value_counts().head()

0.0    75774
1.0     9123
2.0     2814
3.0      629
4.0      258
Name: Total.Serious.Injuries, dtype: int64

#### Total.Minor.Injuries

In [110]:
#Assigns null values to 0.0
df_relevant['Total.Minor.Injuries'].fillna(0.0, inplace = True)
df_relevant['Total.Minor.Injuries'].value_counts().head()

0.0    73362
1.0    10317
2.0     3576
3.0      784
4.0      372
Name: Total.Minor.Injuries, dtype: int64

In [111]:
#Assigns null values to 0.0
df_relevant['Total.Uninjured'].fillna(0.0, inplace = True)
df_relevant['Total.Uninjured'].value_counts().head()

0.0    35782
1.0    25096
2.0    15979
3.0     4312
4.0     2661
Name: Total.Uninjured, dtype: int64

#### Total.Uninjured

In [112]:
#Assigns null values to 0.0
df_relevant['Total.Uninjured'].fillna(0.0, inplace = True)
df_relevant['Total.Uninjured'].value_counts().head()

0.0    35782
1.0    25096
2.0    15979
3.0     4312
4.0     2661
Name: Total.Uninjured, dtype: int64

#### Weather.Condition

In [113]:
#Replaced UNK, Unk and null values with 'Unknown'
df_relevant['Weather.Condition'].replace('UNK', 'Unknown', inplace = True)
df_relevant['Weather.Condition'].replace('Unk', 'Unknown', inplace = True)
df_relevant['Weather.Condition'].fillna('Unknown', inplace = True)
df_relevant['Weather.Condition'].value_counts().head()

VMC        77277
IMC         5976
Unknown     5608
Name: Weather.Condition, dtype: int64

#### Broad.phase.of.flight

In [114]:
df_relevant['Broad.phase.of.flight'].fillna('Unknown', inplace = True)
df_relevant['Broad.phase.of.flight'].value_counts().head()

Unknown        27710
Landing        15426
Takeoff        12493
Cruise         10266
Maneuvering     8134
Name: Broad.phase.of.flight, dtype: int64

#### Report.Status

In [146]:
df_relevant['Report.Status'].replace('<br /><br />','Unknown', inplace = True)
df_relevant['Report.Status'].fillna('Unknown', inplace = True)
df_relevant['Report.Status'].value_counts().head()

Probable Cause                                                                  61729
Unknown                                                                          6546
Foreign                                                                          1998
Factual                                                                           145
The pilot's failure to maintain directional control during the landing roll.       56
Name: Report.Status, dtype: int64

In [144]:
df_relevant.drop(columns = 'Unknown Amateur-Built', inplace = True)

In [145]:
df_relevant.isnull().sum()

Event.Date                0
Location                  0
Country                   0
Airport.Name              0
Aircraft.damage           0
Make                      0
Model                     0
Amateur.Built             0
Number.of.Engines         0
Engine.Type               0
FAR.Description           0
Schedule                  0
Purpose.of.flight         0
Air.carrier               0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Broad.phase.of.flight     0
Report.Status             0
dtype: int64

## Handling Duplicate Rows

In [117]:
#Counts no of duplicate rows
duplicates =df_relevant[df_relevant.duplicated()]
len(duplicates)

0

In [118]:
#Drops all duplicate rows
df_relevant.drop_duplicates(inplace = True)

## Exploratory Data Analysis

### Aircraft.damage

In [120]:
 df_relevant['Aircraft.damage'].value_counts().head(50)

Substantial    67442
Destroyed      18615
Minor           2804
Name: Aircraft.damage, dtype: int64

| **Damage Type**  | **Explanation** |
|------------------|----------------|
| **Substantial**  | Most aircraft incidents fall under this category, meaning the aircraft suffered major but repairable damage. Structural integrity was affected, but the aircraft was not completely destroyed. |
| **Destroyed**    | These aircraft were damaged beyond repair, often due to severe crashes, fires, or total loss of control. |
| **Minor**        | Least severe cases where the aircraft sustained light damage but remained airworthy, requiring only minor repairs. |

### FAR.Description

In [125]:
 df_relevant['FAR.Description'].value_counts().head()
#We need the description that hold planes for private and commercial operatios

Unknown    56865
Part 91    24717
NUSN        1584
NUSC        1012
137         1010
Name: FAR.Description, dtype: int64

#### FAR Description Table

| FAR Part  | Description |
|-----------|-------------|
| **Part 91**  | Covers general aviation, including private, business, and flight training operations. Less strict regulations compared to commercial operations. |
| **Part 121** | Covers scheduled commercial airline operations for passenger and cargo transport. Requires strict adherence to FAA regulations for safety, maintenance, and crew training. |

### Schedule

In [129]:
df_relevant['Schedule'].value_counts().head()

Unknown    80383
NSCH        4471
SCHD        4007
Name: Schedule, dtype: int64

#### Schedule Categories

| Code  | Description              |
|-------|--------------------------|
| NSCH  | Non-Scheduled Flight     |
| SCHD  | Scheduled Flight         |
| UNK   | Unknown Schedule Type    |

### Weather.Condition

In [136]:
df_relevant['Weather.Condition'].value_counts().head(50)

VMC        77277
IMC         5976
Unknown     5608
Name: Weather.Condition, dtype: int64

#### Weather Conditions

| Code     | Description                                      |
|----------|--------------------------------------------------|
| VMC      | Visual Meteorological Conditions (Good weather) |
| IMC      | Instrument Meteorological Conditions (Poor visibility, bad weather) |
| Unknown  | Weather conditions not specified               |

In [142]:
df_relevant['Report.Status'].value_counts().head()

Probable Cause                                                                  61729
Unknown                                                                          6546
Foreign                                                                          1998
Factual                                                                           145
The pilot's failure to maintain directional control during the landing roll.       56
Name: Report.Status, dtype: int64

#### Probable Causes in Aviation Accidents

| Probable Cause                  | Description |
|----------------------------------|-------------|
| **Pilot Error**                 | Mistakes made by the pilot, such as misjudgment, poor decision-making, or lack of experience. |
| **Mechanical Failure**          | Malfunctions or failures in aircraft components, including engine issues, structural defects, or system failures. |
| **Weather Conditions**          | Adverse weather conditions, such as fog, thunderstorms, or turbulence, that contribute to accidents. |
| **Air Traffic Control Error**   | Mistakes or miscommunication by air traffic controllers, leading to unsafe flight situations. |
| **Runway Conditions**           | Issues like debris, ice, or poor maintenance affecting takeoff and landing. |
| **Fuel-Related Issues**         | Fuel exhaustion, contamination, or improper fueling leading to engine failure. |
| **Bird Strike**                 | Collisions between aircraft and birds, causing damage or engine failure. |
| **Sabotage or Terrorism**       | Intentional acts that compromise the safety of the aircraft. |
| **Unknown or Undetermined**     | Cases where the cause cannot be established due to lack of evidence. |

In [147]:
df_relevant.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88861 entries, 0 to 88888
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Date              88861 non-null  object
 1   Location                88861 non-null  object
 2   Country                 88861 non-null  object
 3   Airport.Name            88861 non-null  object
 4   Aircraft.damage         88861 non-null  object
 5   Make                    88861 non-null  object
 6   Model                   88861 non-null  object
 7   Amateur.Built           88861 non-null  object
 8   Number.of.Engines       88861 non-null  float64
 9   Engine.Type             88861 non-null  object
 10  FAR.Description         88861 non-null  object
 11  Schedule                88861 non-null  object
 12  Purpose.of.flight       88861 non-null  object
 13  Air.carrier             88861 non-null  object
 14  Total.Fatal.Injuries    88861 non-null  float64
 15  Total.Serious.Injuries  88861 non-null  float64
 16  Total.Minor.Injuries    88861 non-null  float64
 17  Total.Uninjured         88861 non-null  float64
 18  Weather.Condition       88861 non-null  object
 19  Broad.phase.of.flight   88861 non-null  object
 20  Report.Status           88861 non-null  object
dtypes: float64(5), object(16)
memory usage: 14.9+ MB